@import "tailwindcss";

.base-input {
  height: 42px;                   
  width: 100%;
  border-radius: 8px;             
  background-color: #f9fafb;       
  border: 1px solid #d1d5db;       
  padding: 0 12px;                
  color: #111827;                 
  font-size: 13px;                 
  outline: none;
  transition: all 0.2s ease;
}

.base-input:focus {
  border-color: #3b82f6;           
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);  
}

.model-input {
  border-radius: 8px;             
  background-color: #f9fafb;       
  border: 1px solid #d1d5db;                   
  color: #111827;                 
  font-size: 13px;                 
  outline: none;
  transition: all 0.2s ease;
}

.model-input:focus {
  border-color: #3b82f6;           
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);  
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 25px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #414b5b;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #475569; /* slate-600 */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
  }
  
  * {
    scrollbar-color: #475569 transparent;
  }
}

.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}